@use "../../styles/variables" as var;

.hero-banner {
  width: 100%;
  min-height: 390px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 90px;

  > * {
    width: 100%;
    max-width: 966px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 auto;
  }

  .hero-title {
    max-width: 822px;
    line-height: 50px;
    font-size: var.$font-size-4xl;
    font-weight: var.$font-weight-semibold;
  }

  .hero-subtitle {
    font-size: var.$font-size-2xl;
    font-weight: var.$font-weight-regular;
  }
}
