//Colors
$color-primary: #3442B5;
$color-primary-dark: #3019B2;
$color-accent: #F7CA11;
$color-brand-purple: #271C47;
$color-white: #fff;
$color-gray-medium: #9F9F9F;
$color-gray-dark: #4A4A4A;
$color-text-main: #3F3F40;
$color-danger: #8C342B;

// Font Families
$font-family-poppins: "Poppins", sans-serif;
$font-family-outfit: "Outfit", sans-serif;

// Font Sizes 
$font-size-micro: 10px;
$font-size-tiny: 11px;
$font-size-12: 12px;
$font-size-xs: 13px;  
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-xl: 30px;
$font-size-2xl: 32px;
$font-size-3xl: 40px;
$font-size-4xl: 48px;


// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
