@use "../../styles/variables" as var;

.home {
  width: 100%;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.container-banner {
  background-image: url("../../assets/hero-banner-black-friday.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .banner-wrapper {
    .banner-title {
      color: var.$color-white;
    }

    .banner-subtitle {
      color: var.$color-white;

      span {
        font-weight: var.$font-weight-bold;
        color: var.$color-accent;
      }
    }
  }
}
.partner-brand-section{
  max-width: 1281px;
  height: 50vh;
}

.brands-section {
  max-width: 1250px;
  height: 35vh;
  margin-bottom: 80px;
}

.brands-section-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
